{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movie_design.css" %}">
</head>
<body>
<div class="container" align="center">
     <h1>Add Movies</h1><hr>
<form method="post">

    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" class="btn  btn-primary" value="Add">
</form>
<a class="btn btn-primary btn-lg" href="/listmovies/" role="button">List Movies</a>&nbsp;
</div>


{% comment %}{% if request.POST %}
    {{ name }}
    {{ enroll }}
    {{ email }}
    {{ feedback }}{% endcomment %}


</body>
</html>